
body{
  font-family: Arial;
  text-align: center;
  background-color: #f4f4f4;
}

canvas{
  border: 2px solid black;
  background-color: white;
  margin-top: 20px;
}

input{
  padding: 8px;
  margin: 5px;
}

button{
  padding: 8px 15px;
  cursor: pointer;
}